* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #303433;
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.side {
    background: url(back.jpg) no-repeat;
    background-size: 100% 102%;
}

.side img {
    width: 40%;
    max-width: 1200%;
}

.login-container {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: none;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.separator {
    width: 100px;
    height: 4px;
    background-color: #6ce41c;
    margin: 24px;
}

.welcome-message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: #696969;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

input,
button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

input {
    width: 100%;
    background: #55d2db;
    color: black;
    letter-spacing: 0.5px;
    padding: 14px 64px;
}

input ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color   0.4s;
}

input:focus ~ i {
    color: #ff00aa;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #16d1be;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #4ae987;
    height:100%;
    width:0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
ul {
    list-style: none;
    background: transparent;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding: 10px 15px;
    color: transparent;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}


/* ----  Responsiveness   ----  */
@media (max-width: 780px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side {
        display: none;
    }
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color:#0f0d0d;
}
.signup_link a{
    color:rgb(233, 26, 54);
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}